# for data-cleaning
datasets==2.19.0
fasttext==0.9.2
kenlm==0.2.0
emoji==1.7.0
prettytable==3.8.0
colorama==0.4.6
pandas==1.5.2
openpyxl==3.1.2
numpy
scipy==1.11.0
transformers==4.37.2
sentencepiece==0.1.99

# for near-dedup
text-dedup==0.4.0


# for exact-dedup, see https://github.com/google-research/deduplicate-text-datasets/issues/33 for TF version issue
tensorflow==2.9.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-metadata==1.14.0
